@import url('https://fonts.googleapis.com/css?family=Amaranth%7CCabin+Sketch%7CIstok+Web');

html {
    font-family: 'Istok Web', sans-serif;
    font-family: 'Amaranth', sans-serif;
    font-family: 'Cabin Sketch', cursive;
}

.navi {
    border-radius: 0px 0px 121px 128px;
    -moz-border-radius: 0px 0px 121px 128px;
    -webkit-border-radius: 0px 0px 121px 128px;
    border: 0px solid #000000;
}

#button {
    color:#4f3a10;
    background-color:#ffc34c;
    margin-top: 10px;
    -webkit-box-shadow: 4px 18px 48px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 4px 18px 48px -2px rgba(0,0,0,0.58);
    box-shadow: 4px 18px 48px -2px rgba(0,0,0,0.58);
    border-radius: 69px 69px 69px 69px;
    -moz-border-radius: 69px 69px 69px 69px;
    -webkit-border-radius: 69px 69px 69px 69px;
    border: 3px solid #000000;
}